<?xml version="1.0"?>

<launch>

    <include file="$(find imibot_launcher)/launch/robot_control.launch" />
    
    <include file="$(find imibot_launcher)/launch/gui.launch" />
    
    <include file="$(find imibot_camera)/launch/depth_to_scanner.launch" />
    
    <!--include file="$(find imibot_navigation)/launch/rtabmap.launch" /-->
    
    <!--include file="$(find point_cloud_converter)/launch/point_cloud_converter.launch" /-->
    
    <!--include file="$(find imibot_navigation)/launch/move_base.launch" /-->

    <!--include file="$(find imibot_camera)/launch/camera_stream_server.launch" /-->
</launch>
