<?xml version="1.0"?>

<launch>
    <include file="$(find imibot_description)/launch/description.launch" />
    
    <arg name="x" default="-2"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.1"/>

    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find imibot_description)/rviz/urdf.rviz" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="modelvisualisation" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" output="screen" />
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
    
    <node name="imibot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model imibot -x $(arg x) -y $(arg y) -z $(arg z)" />
          
    <rosparam file="$(find imibot_control)/config/control.yaml" command="load" />
</launch>
